" selected intellimacs modules
source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim
source ~/.intellimacs/which-key.vim

" emulated VIM plugins
set surround
set commentary
set NERDTree
set sneak

set notimeout

" Y should yank till the end of the line
nnoremap Y y$

" custom escape key sequence in insert mode
:imap fd <Esc>
:vmap fd <Esc>

" open new lines from insert mode
inoremap <A-o> <ESC>o
inoremap <A-S-o> <ESC>O

" jump to symbol/function/method
nnoremap <leader>ji :action FileStructurePopup<CR>
let g:WhichKeyDesc_jump_to_member = "<leader>ji jump-to-member"

" NerdTree keybindings
nnoremap <leader>N :NERDTreeToggle<CR>
nnoremap <leader>J :NERDTreeFind<CR>
let g:WhichKeyDesc_nerd_tree      = "<leader>N NERDTree"
let g:WhichKeyDesc_nerd_tree_find = "<leader>J NERDTree Find"

" custom keybindings to move lines/regions up and down
nnoremap <C-S-j> :action MoveLineDown<CR>
nnoremap <C-S-k> :action MoveLineUp<CR>
vnoremap <C-S-j> :action MoveLineDown<CR>
vnoremap <C-S-k> :action MoveLineUp<CR>
inoremap <C-S-j> <Esc> :action MoveLineDown<CR>
inoremap <C-S-k> <Esc> :action MoveLineUp<CR>

" custom gradle commands
nnoremap <leader>mGg :action Gradle.ExecuteTask<CR>
let g:WhichKeyDesc_gradle    = "<leader>mG  +gradle"
let g:WhichKeyDesc_gradle_ex = "<leader>mGg execute-gradle-task"
